.sidebar {
    width: 300px;
    display: flex;
    background-color: var(--bgSoft);
    padding: 2rem 0 2rem 2rem;
}

@media (min-width: 800px) {
    .sidebar {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        scrollbar-width: 3px;

        z-index: 99;
    }

    .sidebar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .sidebar::-webkit-scrollbar-track {
        border-radius: 10px;
        background: var(--bgSoft);
        box-shadow: 0 0 1px 1px #111, inset 0 0 4px rgba(0, 0, 0, 0.3);
    }

    .sidebar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(left, #3e3e3e, #111, #000);
        box-shadow: inset 0 0 1px 1px #646464;
    }
}

.container {
    top: 40px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    background-color: var(--bgSoft);
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.userTitle {
    font-size: .8rem;
    color: var(--textSoft);
}

.list {
    list-style: none;
}

.cat {
    color: var(--textSoft);
    font-weight: bold;
    font-size: .9rem;
    margin: 10px 0;
}