.container {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 350px;
}

.title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;

}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    min-width: 100px;
}

.icons {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 425px) {
    .search {
        width: 150px;
        gap: 5px;
    }

    .menu {
        gap: 10px;
    }
}