.container {
    display: flex;
    gap: 2rem;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    flex-direction: column;
}

.contract {
    color: #000;
    background-color: #ffffff;
    padding: 1rem 1rem 4rem 1rem;
    max-height: 80vh;
    height: 842;
    overflow-y: auto;
    width: 595;
}

.container>h1 {
    text-align: center;
}

.contract p {
    text-align: justify;
}

.top {
    display: flex;
    justify-content: space-between;
}


.conceptsText {
    padding: 0 1rem;

}

/* .contractPlace{
    display: flex;
    gap: .5rem;
}
.contractPlace > p{
    border-bottom: 1px solid black;
} */
.contractAgreement {
    display: flex;
    justify-content: space-between;
}

.confirmContract {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.confirmContract > label:hover{
    text-decoration: underline;
    cursor: pointer;
}

.confirmButton>button {
    background-color: #fff;
    color: #000;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

.confirmButton>button:active,
.confirmButton>button:focus {
    background-color: var(--bgSoft);
    /* Mudar para uma tonalidade mais escura quando clicado ou focado */
}

.invalid {
    pointer-events: none;
    filter: brightness(.1);
    filter: blur(.8px);
}

@media screen and (max-width:450px) {
    .contractAgreement {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .confirmContract>label {
        text-align: justify;
    }
}